In [172]:
import pandas as pd
import matplotlib.pyplot as plt

In [185]:
df = pd.read_csv("D:\MLApp\survey_results_public.csv")

In [174]:
df.head()

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

In [186]:
df = df[["Country", "EdLevel", "YearsCodePro", "Employment", "ConvertedCompYearly"]]
df = df.rename({"ConvertedCompYearly" :"Salary"}, axis =1)
df.head()

,Country,EdLevel,YearsCodePro,Employment,Salary
0,NaN,NaN,NaN,NaN,NaN
1,Canada,NaN,NaN,"Employed, full-time",NaN
2,United Kingdom of Great Britain and Northern I...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5,"Employed, full-time",40205.0
3,Israel,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",17,"Employed, full-time",215232.0
4,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",3,"Employed, full-time",NaN

In [187]:
df = df[df["Salary"].notnull()]
df.head()

,Country,EdLevel,YearsCodePro,Employment,Salary
2,United Kingdom of Great Britain and Northern I...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5,"Employed, full-time",40205.0
3,Israel,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",17,"Employed, full-time",215232.0
8,Netherlands,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",6,"Employed, full-time",49056.0
10,United Kingdom of Great Britain and Northern I...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",2,"Employed, full-time",60307.0
11,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",10,"Employed, full-time;Independent contractor, fr...",194400.0

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38071 entries, 2 to 73121
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       38071 non-null  object
 1   EdLevel       38054 non-null  object
 2   YearsCodePro  37935 non-null  object
 3   Employment    38067 non-null  object
 4   Salary        38071 non-null  float64
dtypes: float64(1), object(4)
memory usage: 1.7+ MB

In [188]:
df = df.dropna()
df.isnull().sum()

Country         0
EdLevel         0
YearsCodePro    0
Employment      0
Salary          0
dtype: int64

In [189]:
df = df[df["Employment"] == "Employed, full-time"]
df

,Country,EdLevel,YearsCodePro,Employment,Salary
2,United Kingdom of Great Britain and Northern I...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5,"Employed, full-time",40205.0
3,Israel,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",17,"Employed, full-time",215232.0
8,Netherlands,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",6,"Employed, full-time",49056.0
10,United Kingdom of Great Britain and Northern I...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",2,"Employed, full-time",60307.0
12,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5,"Employed, full-time",65000.0
...,...,...,...,...,...
73116,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",16,"Employed, full-time",115000.0
73118,Nigeria,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",3,"Employed, full-time",57720.0
73119,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",1,"Employed, full-time",70000.0
73120,Spain,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",2,"Employed, full-time",35192.0
73121,United Kingdom of Great Britain and Northern I...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",3,"Employed, full-time",75384.0

In [136]:

df = df.drop("Employment", axis =1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37919 entries, 2 to 73121
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       37919 non-null  object
 1   EdLevel       37919 non-null  object
 2   YearsCodePro  37919 non-null  object
 3   Salary        37919 non-null  float64
dtypes: float64(1), object(3)
memory usage: 1.4+ MB

In [137]:
df['Country'].value_counts()

United States of America                                8684
Germany                                                 2901
United Kingdom of Great Britain and Northern Ireland    2649
India                                                   2154
Canada                                                  1478
                                                        ...
Fiji                                                       1
Palau                                                      1
Monaco                                                     1
Saint Lucia                                                1
Seychelles                                                 1
Name: Country, Length: 159, dtype: int64

In [138]:
def shorten_categories(categories, cutoff):
    categorical_map = {}
    for i in range(len(categories)):
        if categories.values[i] >= cutoff:
            categorical_map[categories.index[i]] = categories.index[i]
        else:
            categorical_map[categories.index[i]] ='Other'
    return categorical_map

In [139]:
country_map = shorten_categories(df.Country.value_counts(), 400)
df['Country'] = df['Country'].map(country_map)
df.Country.value_counts()

Other                                                   10328
United States of America                                 8684
Germany                                                  2901
United Kingdom of Great Britain and Northern Ireland     2649
India                                                    2154
Canada                                                   1478
France                                                   1372
Brazil                                                   1279
Spain                                                     992
Poland                                                    973
Netherlands                                               897
Australia                                                 830
Italy                                                     807
Sweden                                                    664
Russian Federation                                        533
Switzerland                                               520
Turkey                                                    446
Austria                                                   412
Name: Country, dtype: int64

In [140]:
def clean_country(x):
    if 'United Kingdom of Great Britain and Northern Ireland' in x:
        return 'UK and Northern Ireland'
    return x
df["Country"] = df["Country"].apply(clean_country)

In [141]:
df["Country"].unique()

array(['UK and Northern Ireland', 'Other', 'Netherlands',
       'United States of America', 'Austria', 'Italy', 'Canada',
       'Germany', 'Poland', 'France', 'Brazil', 'Sweden', 'Spain',
       'Turkey', 'India', 'Russian Federation', 'Switzerland',
       'Australia'], dtype=object)

In [171]:
df = df[df["Salary"] <= 250000]
df = df[df["Salary"] >= 10000]
df = df[df['Country'] != 'Other']
df

       Country  EdLevel  YearsCodePro    Salary
2           15        2           5.0   40205.0
8            8        2           6.0   49056.0
10          15        0           2.0   60307.0
11          16        0          10.0  194400.0
12          16        0           5.0   65000.0
...        ...      ...           ...       ...
73114        5        1           2.0   41058.0
73116       16        0          16.0  115000.0
73119       16        0           1.0   70000.0
73120       11        0           2.0   35192.0
73121       15        2           3.0   75384.0

[24089 rows x 4 columns]

In [143]:
df["YearsCodePro"].unique()

array(['5', '6', '2', '10', '22', '4', '20', '9', '14', '21', '15', '25',
       '3', '8', '12', '7', '19', '1', '17', '24', '11', '23',
       'Less than 1 year', '18', '40', '37', '46', '13', '32', '31', '39',
       '27', '28', '16', '30', '34', '35', '26', '42', '38', '36', '41',
       '44', '29', '33', 'More than 50 years', '45', '48', '43', '50',
       '47', '49'], dtype=object)

In [144]:
def clean_experience(x):
    if x == 'More than 50 years':
        x = 50
    if x == 'Less than 1 year':
        x =0.5
    return float(x)

In [145]:
df["YearsCodePro"] = df["YearsCodePro"].apply(clean_experience)

In [146]:
df["EdLevel"].unique()

array(['Master’s degree (M.A., M.S., M.Eng., MBA, etc.)',
       'Bachelor’s degree (B.A., B.S., B.Eng., etc.)',
       'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',
       'Something else', 'Associate degree (A.A., A.S., etc.)',
       'Some college/university study without earning a degree',
       'Professional degree (JD, MD, etc.)',
       'Other doctoral degree (Ph.D., Ed.D., etc.)',
       'Primary/elementary school'], dtype=object)

In [147]:
def clean_edlevel(x):
    if 'Bachelor’s degree' in x:
        return 'Bachelor’s degree'
    if 'Master’s degree' in x:
        return 'Master’s degree'
    if 'Professional degree' in x or 'Other doctoral degree' in x:
        return 'Post grad'
    return 'Less than a Bechelors'
df["EdLevel"] = df["EdLevel"].apply(clean_edlevel)

In [148]:
df["EdLevel"].unique()

array(['Master’s degree', 'Bachelor’s degree', 'Less than a Bechelors',
       'Post grad'], dtype=object)

In [149]:
from sklearn.preprocessing import LabelEncoder
le_education = LabelEncoder()
le_education.fit(df['EdLevel'])
df['EdLevel'] = le_education.transform(df['EdLevel'])
df['EdLevel'].unique()

array([2, 0, 1, 3])

In [150]:
le_country = LabelEncoder()
le_country.fit(df['Country'])
df['Country'] = le_country.transform(df['Country'])
df['Country'].unique()

array([15,  8, 16,  1,  7,  3,  5,  9,  4,  2, 12, 11, 14,  6, 10, 13,  0])

In [151]:
X = df.drop("Salary", axis =1)
y = df["Salary"]

In [152]:
from sklearn.linear_model import LinearRegression
linear_reg = LinearRegression()
linear_reg.fit(X, y.values)

LinearRegression()

In [153]:
y_pred = linear_reg.predict(X)

In [154]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np
error = np.sqrt(mean_squared_error(y, y_pred))

In [155]:
print("${:,.02f}".format(error))

$45,861.02

In [156]:
from sklearn.tree import DecisionTreeRegressor
dec_tree_reg = DecisionTreeRegressor()
dec_tree_reg.fit(X, y.values)

DecisionTreeRegressor()

In [157]:
y_pred = dec_tree_reg.predict(X)

In [158]:
error = np.sqrt(mean_squared_error(y, y_pred))
print("${:,.02f}".format(error))

$35,052.13

In [159]:
from sklearn.ensemble import RandomForestRegressor
random_forest_reg = RandomForestRegressor(random_state = 0)
random_forest_reg.fit(X, y.values)

RandomForestRegressor(random_state=0)

In [160]:
y_pred = random_forest_reg.predict(X)

In [161]:
error = np.sqrt(mean_squared_error(y, y_pred))
print("${:,.02f}".format(error))

$35,137.02

In [162]:
from sklearn.model_selection import GridSearchCV
max_depth = [None, 2, 4, 6, 8, 10, 12]
parameters = {"max_depth": max_depth}

regressor = DecisionTreeRegressor()
gs = GridSearchCV(regressor, parameters, scoring = 'neg_mean_squared_error')
gs.fit(X, y.values)

GridSearchCV(estimator=DecisionTreeRegressor(),
             param_grid={'max_depth': [None, 2, 4, 6, 8, 10, 12]},
             scoring='neg_mean_squared_error')

In [163]:
regressor = gs.best_estimator_

regressor.fit(X, y.values)
y_pred = regressor.predict(X)
error = np.sqrt(mean_squared_error(y, y_pred))
print("${:,.02f}".format(error))

$36,521.95

In [166]:
import pickle

In [167]:
data = {"model": regressor, "le_country": le_country, "le_education": le_education}
with open('save_step.pkl', 'wb') as file:
    pickle.dump(data, file)

In [168]:
with open('save_step.pkl', 'rb') as file:
    data = pickle.load(file)
regressor_loaded = data["model"]
le_country = data["le_country"]
le_education = data["le_education"]

In [169]:
y_pred = regressor_loaded.predict(X)
y_pred

array([79901.89090909, 68852.13559322, 53203.11450382, ...,
       93677.37373737, 35742.82336957, 61920.50318471])